<header>
  <h1>Parking Buddy</h1>
  <p>Admin Login</p>
</header>

<div style="margin-top: 1cm;">
<form action="/admin_cam">
  Username:<br>
  <input type="text" name="firstname" value="">
  <br>
  Password:<br>
  <input type="password" name="lastname" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</div>