<header>
  <h1>Parking Buddy</h1>
  <p>Admin Home</p>
</header>

<ul id="lot-list" style=" margin-top: 1cm">
        <li class="lot-item open">
            <form action="/admin_cam">
                <input type="submit" value="set camera information">
            </form> 
        </li>
        <li class="lot-item open">
                    <form action="/admin_lot">
                    <input type="submit" value="set lot information">
                    </form> 
                </li>
                <li class="lot-item open">
                    <form action="/query">
                    <input type="submit" value="query by lot and time">
                    </form> 
                </li>
                <li class="lot-item open">
                    <form action="/count_query">
                    <input type="submit" value="Query by car count">
                    </form> 
                </li>
                <li class="lot-item open">
                    <form action="/login">
                    <input type="submit" value="Logout">
                    </form> 
                </li>
        </li>
    </ul> 