<header>
  <h1>Parking Buddy</h1>
</header>
<ul id="lot-list">

<% @results.each do |key, value| %>
  <li class="lot-item open">
    <h2> <%= key %></h2>
    <h3 class="number">Spaces avalable <%= value %></h3>
  </li>
<% end %>
  
</ul>   
